{% extends 'layout.html.twig' %}
{% block title %} Form {% endblock %}
{% block main %}
<div style="position:absolute;top:5px;width:100%;height: 500px;background-position: center;background-repeat: no-repeat;background-size: cover;background-image: url('https://www.vizeo.net/wp-content/uploads/2019/04/voyage_tranquille-min.jpg')">
    <h1 class="text-teal-600">{% if test %}
    Modifier une Destination
        {% else %}
        Ajouter une Destination
        {% endif %}
    </h1>
    <div style="margin-top: 80px">
        {{ form_start(formDest) }}
        <strong>{{ form_row(formDest.codeDest,{'attr':{'placeholder':'code de la destination'}}) }}</strong>
        <strong>{{ form_row(formDest.DesDest,{'attr':{'placeholder':'Description de la destination'}}) }}</strong>
        <strong>{{ form_row(formDest.ImageDest,{'attr':{'placeholder':'Image de la destination'}}) }}</strong>
        <button type="submit" class="btn" style="background-color: #AA3333">
            {% if test %}
            Modifier
            {% else %}
            Ajouter
            {% endif %}
        </button>
    </div>
    {{ form_end(formDest) }}
</div>
{% endblock %}